services:
  mysql:
    image: mysql:8.0
    container_name: mysql_server
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3306:3306"
    volumes:
      - ./book/init.sql:/docker-entrypoint-initdb.d/01_book.sql
      - ./core/init.sql:/docker-entrypoint-initdb.d/02_core.sql
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: